html {
    background: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
    width: 485px;
    height: 110px;
    margin: auto;
    justify-content: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
}

h1 {
    width: 455px; 
    color: #007d7b;
    background-color: #ffffff;
    text-transform: uppercase;
    margin: auto;
}

h2 {    
    text-align: center;
}

#about h2 {
    padding-top: 10px;
    margin-top: 5px;
}

nav {
    width: 455px;
    margin: auto;
    text-decoration: none;
}

nav ul {
    padding: 0px 0px;
    display: grid;
    width: 455px;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-content: space-evenly;
}

nav li {
    display: inline-block; 
    margin: 0px;
}

nav a {
    padding: 15px 23px;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #007d7b;
}

li a{
    color: #ffffff;
    text-decoration: none;
}

#about {
    background-color: #ffffff;
}

h2 ~ p { 
    margin-bottom: 5px;
    margin-left: 10px;  
}



/* Container, Frames, Figures
---------------------------------------------------- */


#contain {
    background-color: #ffffff;
    width: 455px;
    margin: auto;
}

#contain p {
    line-height: 1.65;
}

#gallery { 
    width: 455px;
    background-color: #ffffff;
    display: grid; 
    grid-template-columns: 1fr;
    margin: auto;
}

.frame {
    width: 421px;
    margin: auto;
}

figure {
    margin: 0px;
    padding: 0px;
}




/* Formatting for Figcaptions to display correctly 
---------------------------------------------------- */

figcaption {
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.bottomWhite figcaption {
    color: #ffffff;
    position: relative;
    bottom: 30px;
}

.bottomBlack figcaption {
    color: #000000;
    position: relative;
    bottom: 30px;
}

.topWhite figcaption {
    color: #ffffff;
    position: relative;
    bottom: 270px;
}

.topBlackPortrait figcaption {
    color: #000000;
    position: relative;
    bottom: 620px;
}

.topBlackLandscape figcaption {
    color: #000000;
    position: relative;
    bottom: 270px;
}

[href="#top"] {
    text-align: center;
    padding: 8px;
    position: fixed; 
    bottom: 0px; 
    right: 0px; 
    text-decoration: none;
    height: 25px; 
    width: 50px; 
    background-color: #007d7b;
}




/* Contact Form, Footer, Top button
---------------------------------------------------- */

[href="#top"]:hover {
    color: #007d7b;
    background-color: #ffffff;
}


#contact {
    margin: auto;
    text-align: center;
    background: #000000;
    min-width: 455px;
    width: 455px;
}

#contact label  {
    color: #ffffff; 
}

#contact h2, #contact p {
    color: #ffffff;
}

#contact h3  {
    display: none;
}

#contact input { 
    display: block;
    width: 99%;
    max-width: 1190px;
    margin: auto;
}

form {
    text-align: left;
    max-width: 1200px;
    margin: auto;
}

#contact label {
    text-align: left;
    margin-left: 15px;
    text-transform: uppercase;
}

[placeholder] {
    color: #007d7b;
    text-transform: uppercase;
    padding-left: 12px;
} 

#contact input {
    height: 40px;
    color: #007d7b;
}

button {
    display: block;
    width: 280px;
    height: 40px;
    color: #ffffff;
    background-color: #007d7b;
    margin: auto;
    text-transform: uppercase;
    font-size: large;
    font-weight: 900;
    border-radius: 8px;
    border: none;
}

button:hover {
    font-size: larger;
}

button:active {
    color: #007d7b;
    background-color: #ffffff;
}

footer {
    margin-top: 70px;
    clear: both;
    color: #ffffff; 
    text-align: center;
}

small {
    text-transform: uppercase;
}


/* Provided Font Sizes
------------------------------------------------- */
p {
    font-size: 1.25em;
}
figcaption, label, input, small {
    font-size: 1em;
}
nav a {
    font-size: 1.5em;
}
h1 {
    font-size: 3em;
    color: #007d7b;
}
h2 {
    font-size: 2em;
    text-transform: uppercase;
}
h3 {
    color:#ffffff;
}




/* For screens 880px and wider.
-------------------------------------------- */

@media screen and (min-width:880px) { 

    #contain {
        width: 855px;
        margin:auto;
    }

    header {
        width: 855px;
        margin: auto; 
    }

    nav {
        width: 855px;
    }

    h1 {
        width: 855px; 
    }

    #gallery { 
        width: 855px;
        display: grid; 
        grid-template-columns: 1fr 1fr;
    }

    #contact {
        width: 800px;
    }

    button {
        width: 480px;
    }

}



/* For screens 1300px and wider.
-------------------------------------------- */

@media screen and (min-width:1300px) { 


    #contain {
        width: 1290px;
    }

    header {
        width: 1300px;
    }

    nav {
        width: 1290px;
    }

    nav ul {
        float: right;
    }

    h1 {
        width: 1290px; 
    }

    #gallery { 
        width: 1290px;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
    }

    #contact { 
        width: 1200px;
    }

    #contact input { 
        max-width: 1200px;
    }

    button {
        
        width: 780px;
    }

}